.li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.name {
  font-size: 1.5rem;
  color: #0f67d3;
  font-weight: 500;
}

.desc {
  font-style: italic;
  font-size: 1.1rem;
}

.price {
  color: green;
  font-size: 1.4rem;
}
.info {
  width: 40%;
}

.qty {
  font-weight: bold;
  height: fit-content;
  width: 60px;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions button {
  padding: 10px;
  margin-bottom: 0.2rem;
}
